.app {
  font-family: "poppins", sans-serif;
  margin: 4px;
}

header {
  border-radius: 8px 8px 0px 0px;
  background-color: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

header > i {
  font-size: 32px;
}

header > span {
  margin: 4px;
  font-size: 16px;
}

.card {
  display: flex;
  margin: 32px;
  font-size: 12px;
}
.card > img {
  width: 192px;
  height: 256px;
  border-radius: 4px;
}
.card--details {
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.card--location {
  display: flex;
  align-items: center;
}
.card--location > i {
  color: #F55A5A;
}
.card--location > span {
  margin-left: 4px;
}
.card--location > a {
  margin-left: 12px;
  color: gray;
}
.card--title {
  font-size: 32px;
  font-weight: 700;
}
.card--date {
  margin-top: 16px;
  font-weight: 500;
}
.card--description {
  margin-top: 8px;
}