.container {
  /* Center business card */
  margin: auto;
  width: 50vw;
  /* Use google 'inter' font */
  font-family: Inter, sans-serif;
  background-color: #F1F1F1;
  /* Make corners rounded */
  border-radius: 10px;
}

.info--photo {
  width: 50vw;
  height: 50vh;
  /* Make top corners rounded */
  border-radius: 10px 10px 0px 0px;
}
.info--name {
  margin-bottom: 0px;
}
.info--job {
  margin: 0px;
  color: orange;
  font-size: small;
}
.info--website {
  font-size: x-small;
}
.info--contact {
  margin: 10px auto;
  width: 40wv;
  display: flex;
  justify-content:space-around;
}
.info--contact > button {
  width: 160px;
  border: none;
  padding: 4px 24px;
  font-size: 16px;
  border-radius: 4px;
}

.textbox--div {
  text-align: left;
  margin: 10px 25px;
}
.textbox--div > h4 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.textbox--div > p {
  margin-top: 5px;
}

.footer--div {
  /* icons in footter center aligned */
  margin: auto;
  /* icons in footer even spaced horizontally */
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 5px 15px;
  border-radius: 0px 0px 10px 10px;
  background-color: #D1D1D1;
}

.footer--div > a > img {
  height: 24px;
  border-radius: 4px;
  filter: grayscale(100%);
  padding: 0px 16px;
}