.app {
  font-family: "poppins", sans-serif;
}

header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-image: linear-gradient(to right, #672280, #A626D3);
  color: white;
  padding: 20px;
}
header > img {
  height: 32px;
}
header > h2 {
  margin-left: 8px;
  margin-right: auto; /* push next component (h4) all the way to the right */
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -1px;
}
header > h4 {
  font-size: 0.75rem;
  font-weight: 700;
}

.input {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90vw;
}
.text {
  display: flex;
  justify-content: space-between;
  margin-top:24px;
}
.textbox {
  display: flex;
  flex-direction: column;
}
.textbox > input {
  width: 225px;
  height: 32px;
}
.input > button {
  background-image: linear-gradient(to right, #672280, #A626D3);
  color: white;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px;
}
.input > button > i {
  margin-left: 4px;
}