body {
    background-color: lightgray;
}
header {
    margin-bottom: 10px;
    background-color: white;
    width: 100vw;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    width: 60px;
}
.nav-items {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav-items > li {
    padding: 5px;
}
.main {
    height: 100vh;
    background-color: white;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: grey;
    color: white;
}